<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="mystyle.css"> -->
    </head>
    <body>
        <h1>Login page</h1>
        <p>Please login or create a new user.</p>
        <form>
            <div class="form-group">
                <div class="col-auto">
                    <label for="userLogin">User</label>
                    <input class="form-control" id="userLogin" type="text" placeholder="User">
                </div>
                <div class="col-auto">
                    <label for="userPassword">Password</label>
                    <input  class="form-control" id="userPassword" type="password" placeholder="Password">
                </div>
                <div class="col-auto">
                    <input type="submit" value="Login!" class="btn btn-primary">
                </div>
            </div>
        </form>
    </body>
</html>
