{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
        <h1>Login page</h1>
        <p>Please login or create a new user.</p>
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-group">

                <div class="col-auto">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text" placeholder="Username" required>
                </div>

                <div class="col-auto">
                    <label for="password">Password</label>
                    <input  class="form-control" id="password" name="password" type="password" placeholder="Password" required>
                </div>

                <div class="col-auto">
                    <input type="submit" value="Login!" class="btn btn-primary">
                </div>

            </div>
        </form>
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
          </div>
        {% endif %}
        <p>OR</p>
        <form action="{{ url_for('register') }}" method="get">
            <div class="form-group">
                
                <div class="col-auto">
                    <input type="submit" value="Register" class="btn btn-secondary">
                </div>

            </div>
        </form>
{% endblock %}
