{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
        <h1>Registration page</h1>
        {% if name %}
        <p>Welcome {{ name }}!</p>
        {% endif %}
        <p>Please, fill out the form bellow to create your user.</p>
        <form action="{{ url_for('register') }}" method="post">
            <div class="form-group">

                <div class="col-auto">
                    <label for="name">First Name</label>
                    <input class="form-control" id="name" name="name" type="text" placeholder="First Name">
                </div>

                <div class="col-auto">
                    <label for="lastname">Last Name</label>
                    <input class="form-control" id="lastname" name="lastname" type="text" placeholder="Last Name">
                </div>

                <div class="col-auto">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text" placeholder="Username">
                </div>

                <div class="col-auto">
                    <label for="password">Password</label>
                    <input  class="form-control" id="password" name="password" type="password" placeholder="Password">
                </div>

                <div class="col-auto">
                    <input type="submit" value="Register!" class="btn btn-primary">
                </div>

            </div>
        </form>
{% endblock %}
